body {
    font-family: sans-serif;
    background-color: #ffffff;
}

.header {
    background-color: #5b913b;
    color: #ffffff;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.sidebar {
    width: 250px;
    background: #5b913b;
    padding: 15px;
    height: 100vh;
    position: fixed;
    top: 65px;
    left: 0;
    overflow-y: auto;
    color: #ffffff;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar a:hover {
    background-color: #5b913b;
}

.content {
    margin-left: 270px;
    padding: 80px 20px 20px 20px;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
    }
}

.offcanvas-sidebar {
    width: 250px;
    background-color: #5b913b;
    color: #ffffff;
}

/* Perbaikan untuk link di Offcanvas */
.offcanvas-sidebar a {
    color: #ffffff !important;
    text-decoration: none;
}

.offcanvas-sidebar a:hover {
    background-color: #5b913b;
}
